:root {
   --bright-orange: hsl(31, 77%, 52%);
   --dark-cyan: hsl(184, 100%, 22%);
   --very-dark-cyan: hsl(179, 100%, 13%);

   --transparent-white: hsla(0, 0%, 100%, 0.75);
   --very-light-gray: hsl(0, 0%, 95%);
   --white: #ffffff;
   --shadow: 0px .1em .9em .1em rgba(0,0,0,0.1);
   --imageSize: 105px;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
   margin: 0;
   padding: 0;
   color: var(--transparent-white);
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   background-color: var(--very-light-gray);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-rendering: optimizeSpeed;
   font-family: 'Lexend Deca', sans-serif;
}
/* ================================================================= */
/*
   MAIN SECTION
*/
.main__container {
   margin: 1em;
   margin-bottom: 3em;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
}  /* ================================================================= */
   /* 
      GENERAL SETTINGS
   */
   .section {
      width: 100%;
      padding: 1.5em;
   }
   .svg-container {
      width: min-content;
      padding: .5em;
   }
   .svg-element {
      aspect-ratio: 1/1;
   }
   .title {
      font-family: 'Big Shoulders Display', cursive;
      text-transform: uppercase;
      padding: .5em;
      font-size: 1.75rem;
   }
   .description {
      padding: 1em;
   }
   .button {
      margin: 1em;
      padding: .8em 2.5em;
      border: none;
      border-radius: 2em;
      font-family: 'Lexend Deca', sans-serif;
      transition-duration: .3s;
      cursor: pointer;
   }
   /* ================================================================= */
.section__sedans {
   border-radius: .5em .5em 0 0;
   background-color: var(--bright-orange);
}
.sedans__button {
   color: var(--bright-orange);
}
.sedans__button:hover {
   background-color: var(--transparent-white);
}
.section__suvs {
   background-color: var(--dark-cyan);
}
.suvs__button {
   color: var(--dark-cyan);
}
.suvs__button:hover {
   background-color: var(--transparent-white);
}
.section__luxury {
   border-radius: 0 0 .5em .5em;
   background-color: var(--very-dark-cyan);
}
.luxury__button {
   color: var(--very-dark-cyan);
}
.luxury__button:hover {
   background-color: var(--transparent-white);
}

/* ================================================================= */

/* ================================================================= */
/* 
   FOOTER SECTION
*/

.author__section{
   position: fixed;
   bottom: 0;
   padding: .6em;
   z-index: 1;
   width: 100%;
   text-align: center;
   background-color: var(--transparent-white);
}
.author__section > * {
   color: var(--dark-cyan);
   font-weight: 500;
}
.author__section > .author__spacer {
   margin: 0 4px 0 4px;
}
.author__section, a {
   text-decoration: none;
   transition: .3s ease-out;
}
.author__section > .author__anchor:hover {
   color: var(--very-dark-cyan);
}
/* ================================================================= */

@media (min-width: 40em){
   .main__container {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 70%;
   }
   .section {
      padding: 2em;
   }
   .section__sedans {
      border-radius: .5em 0 0 .5em;
   }
   .section__luxury {
      border-radius: 0 .5em .5em 0;
   }
   .button {
      margin: 4em 1em 1em 1em;
   }
}